/* 
	General Page Styles 
*/


/* 
	Timeslider Line Graph Styles 
*/
.axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .axis text {
      font-family: sans-serif;
      font-size: 11px;
    }
    .brush .extent {
      stroke: #fff;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
    .area {
      fill: steelblue;
      clip-path: url(#clip);
    }

/* 
	Parent Div of Data Matrix Overview & Filter Styles 
*/
#category-filter-overview {
	margin-top: 30px;
}

/* applies to all immediate child elemtnts of category-filter-overivew */
#category-filter-overview > div {
    float: left;
    margin-right: 10px;
}

/* 
	Data Matrix Overview Styles 
*/
div#heatchart {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

div#heatchartContainer {
    float: left;
    margin-left: 15px;
    margin-bottom: 20px;
}

/* Filter Styles */
#filter-container {
    border: 1px solid;
    height: 300px;
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
}