/* 
	General Page Styles 
*/
body {
  font: 12px Arial,sans-serif;
}
.canvas {
  padding-left: 15px;
}

/* 
	Timeslider Line Graph Styles 
*/
.axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .axis text {
      font-family: sans-serif;
      font-size: 11px;
    }
    .brush .extent {
      stroke: #c7c7c7;
	  stroke-width: 2.5;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
    .area {
      fill: #7f7f7f;
      clip-path: url(#clip);
    }

/* 
	Parent Div of Data Matrix Overview & Filter Styles 
*/
#category-filter-overview {
	margin-top: 20px;
  margin-bottom: 10px;
}

/* applies to all immediate child elemtnts of category-filter-overivew */
#category-filter-overview > div {
    float: left;
    margin-right: 10px;
}

#filter-container {
    margin-left: 25px;
}

/* 
	Data Matrix Overview Styles 
*/
div#heatchart {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

div#heatchartContainer {
    float: left;
    margin-left: 15px;
    margin-bottom: 20px;
}

#data-matrix-yaxis-container {
    float: left;
    margin-left: 10px;
}

#data-matrix-xaxis-container {
    margin-top:10px;
	
}

/* Filter Styles */
#filter-container {
    /*border: 1px solid;*/
    height: 340px;
    width: 450px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}


/*   Multi Line Graph  

	...may be missing one or two (in the above code)
*/

	//---from http://bl.ocks.org/rveciana/5181105 ---
	.tooltip{ background-color:rgba(68,136,187,0.5);;
			  margin: 10px;
			  height: 50px;
			  width: 150px;
			  padding-left: 10px; 
			  padding-top: 10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
    font-family: sans-serif;
			}
			

g.tooltip:not(.css) {
  fill:currentColor;
}
g.tooltip rect {
    fill: lightblue;
    stroke: gray;
}
circle:hover + g.tooltip.css {
  opacity:1;
}

/*
On Off Swtich CSS
*/
.onoffswitch {
    position: relative; width: 89px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Prohibited";
    padding-left: 10px;
    background-color: #d62728; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Allowed";
    padding-right: 10px;
    background-color: #1f77b4; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 4.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 62px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}